[Unit]
Description=Freedesktop System Color Scheme Monitor
After=multi-user.target
StartLimitIntervalSec=10

[Service]
Type=simple
ExecStart=/bin/sh -c 'exec "${XDG_DATA_HOME:-"$HOME"/.local/share}"/color-scheme/color-scheme-monitor.sh'
Restart=on-failure
StartLimitBurst=3

[Install]
WantedBy=default.target
